
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{


    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 40px;
        .main-up{
            width: 100%;
            display: flex;
            justify-content: center;
            margin: 10% auto 0;
            flex-direction: column;
            align-items: center;
            gap: 0;
            #img1{
                width: 15%;
            }

            p{
                font-family: 'Merriweather';
                font-size: 35px;
                font-weight: 900;
            }
        }
        .form{
            width: 30%;
        form{
            width: 100%;
            display: flex; 
            flex-direction: column;
            gap: 5px;

            input{
                padding: 10px;
                width: 100%;
                border: 1px rgb(102, 102, 102) solid;       
                border-radius: 5px;
                font-size: 15px;
                &:focus {
                  outline: none;
                  border-color: #0078d7;
                  box-shadow: 0 0 0 3px rgba(0, 120, 215, 0.3);
            }
            }
             button{
                margin: 0px auto;
                font-family: 'Merriweather';
                font-size: large;
                padding: 10px 20px;
                outline: none;
                border: 2px white solid;
                background-color: #0094C1;
                color: white;
                border-radius: 5px;
                cursor: pointer;
                width: max-content;
                &:hover{
                    background-color: #00779b;
                    border: 2px #00e0e7 solid;
                }
            }
            p{
                  color: #3b3b3b;
                  margin: 0px auto;
                  a{
                    color: #3b3b3b;
                    text-decoration: none;
                  }
            }
        }}
    }
}